.font1{
    font-family: avigea;
}
.nav-link{
    color:#2f2154;
    font-weight: 500;
}
.nav_animation{
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}
.nav_animation:hover{
    background-color: rgba(173, 161, 228, 0.018);
    transform: scale(1.1);
}
#graphict{
    font-size: 3rem;
    font-weight: 500;
    color: #2f2154;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out fonty;
}
#graphict:hover{
    font-size: 3.2rem;
    transform: rotate(360deg); /* Rotate the text by 360 degrees on hover */
  transition: transform 0.3s; /* Add a smooth transition effect */
}

#contactbtn1{
    background-color:#e0def6 ;
}
#contactbtn2{
    background-color:#7755c7 ;
}
li{
    list-style: none;
}
.nav-link:hover{
    color: white;

}
#wavey{
    margin-top: -5rem;
}
/* media query for the design */
/* Media Queries for #wavey section */
@media screen and (max-width: 575.98px) {
    #wavey {
      margin-top: -4rem; /* Adjust margin-top for extra small screens */
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767.98px) {
    #wavey {
      margin-top: -5rem; /* Adjust margin-top for small screens */
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    #wavey {
      margin-top: -10rem; /* Adjust margin-top for medium screens */
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199.98px) {
    #wavey {
      margin-top: -10.5rem; /* Adjust margin-top for large screens */
    }
  }
  
  @media screen and (min-width: 1200px) {
    #wavey {
      margin-top: -11rem; /* Adjust margin-top for extra large screens */
    }
  }
  #wavey1 {
      margin-top: -rem;
  }

  /* media query for the design */
  /* Media Queries for #wavey section */
  @media screen and (max-width: 575.98px) {
      #wavey1 {
          margin-top: -4rem;
          /* Adjust margin-top for extra small screens */
      }
  }

  @media screen and (min-width: 576px) and (max-width: 767.98px) {
      #wavey1 {
          margin-top: -5rem;
          /* Adjust margin-top for small screens */
      }
  }

  @media screen and (min-width: 768px) and (max-width: 991.98px) {
      #wavey1 {
          margin-top: -6rem;
          /* Adjust margin-top for medium screens */
      }
  }

  @media screen and (min-width: 992px) and (max-width: 1199.98px) {
      #wavey1 {
          margin-top: -7rem;
          /* Adjust margin-top for large screens */
      }
  }

  @media screen and (min-width: 1200px) {
      #wavey1 {
          margin-top: -8rem;
          /* Adjust margin-top for extra large screens */
      }
  }
/* end of media query */
.sub-stats .nav-link:hover{
    color: #7755c7;
}

.navcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
#portfolio{
    text-decoration: underline;
}

#stats{
    text-decoration: underline;
}
.card-body .nav-link:hover{
    color: #7755c7;
}
#icons:hover{
    opacity: 0.9;
}
#resumeButton{
    background-color: #907ad8;
    color:#2f2154 ;
}
#resumeButton:hover{
    background-color: #5c3e99;
    color:#efedfa;
}
#ResumeBackground{
    z-index: -1;
}
#icons{
    position: relative;
            overflow: hidden;
            transition: transform 0.3s ease-in-out;
            transform: scale(0.8);
}
#icons:hover{
    transform: scale(1); /* Increase size on hover */
}
/* animation for the card */
/* section for carousel */
.card {
    height: 15rem; /* Set the height of the card to 15rem */
    transition: transform 0.3s ease-in-out; /* Apply a smooth transition */
    background-color: #c9c3ef;
}

.card-img-top {
    object-fit: cover; /* Preserve aspect ratio while filling the image box */
    height: 75%; /* Set the height of the image to 75% of the card height */
}

.card-text {
    margin-bottom: 0; /* Remove default bottom margin from card text */
}
  .card:hover {
    background-color: rgba(173, 161, 228, 0.018);
    transform: scale(1.15);
  }

/*  */

.card-text{
    color: #2f2154;
}
.header_animation{
    /* text-decoration: underline; */
    text-transform: uppercase;
    color: #2f2154;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}
.header_animation:hover{
    transform: scale(1.1); 
}
#award{
    /* text-decoration: underline; */
    color: #2f2154;
    position: relative;
            overflow: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: transform 0.3s, box-shadow 0.3s;
}
#award:hover{
    transform: translate(0, -5px) scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

footer{
    background-color: #2f2154;
    color: #e0def6;
}



/* animations for the texts */




/* animations for the texts */
/* 
colorcodes
#f6f5fd
#efedfa
#e0def6
#c9c3ef
#ada1e4
#907ad8
#7755c7
#6d4bb6
#5c3e99
#4c357d
#2f2154
*/